.header {
    width: 100%;
    background-color: darkgray;
    padding: 30px 0;
    margin-bottom: 50px;
}

ul {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style: none;
}

li a{
    text-decoration: none;
    list-style: none;
}