.login-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    font-size: 20px;
}

input {
    width: 100%;
    padding: 5px;
    margin: 10px auto;
    border-radius: 15px;
    border: none;
}

input:active, input:focus {
    outline: 2px solid green;
}